<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center" style="margin-top: 10em;">
            <h1 class="heading mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                style="color: #2cdb98;">Contact Us</h1>
            <p class="w-75 mx-auto mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Far far away,
                behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            </p>
            <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href="#contact-form"
                    class="btn btn-safebank">Get started</a></p>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 6em;">
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122409.99752910247!2d80.57484287004428!3d16.51031772724142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35eff9482d944b%3A0x939b7e84ab4a0265!2sVijayawada%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1628074282522!5m2!1sen!2sin"
            allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<div id="contact-form">
    <div class="container">
        <form class="row">
            <div class="mb-3 col-lg-6">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="mb-3 col-lg-6">
                <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="mb-3 col-lg-6">
                <input type="text" class="form-control" placeholder="Subject">
            </div>
            <div class="mb-3 col-lg-6">
                <input type="text" class="form-control" placeholder="Phone">
            </div>
            <div class="mb-3 col-lg-12">
                <textarea name="" id="" cols="30" rows="5" class="form-control"
                    placeholder="Write your message here..."></textarea>
            </div>
            <div class="mb-3 col-lg-12">
                <input type="button" class="btn py-3 btn-safebank" style="padding: 0 30px 0 30px;" onclick="alert('Your response has been sent successfully!'); window.location.href = '/home'" value="Send Message">
            </div>
        </form>
    </div>
</div>