<div class="site-footer">
    <div class="footer-dots"></div> 
    <div class="container">
    <div class="row">
    <div class="col-lg-2 ms-auto"></div>
    <div class="col-lg-4">
    <div class="widget">
    <h3>About <span style="color: #2cdb98;">SafeBank</span></h3>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    </div> 
    <div class="widget">
    <h3>Connect</h3>
    <ul class="list-unstyled social">
    <span style="margin-right: 10px;"><a href="#"><span class="fa fa-twitter" style="font-size:36px"></span></a></span>
    <span style="margin-right: 10px;"><a href="#"><span class="fa fa-instagram" style="font-size:32px; color:hotpink;"></span></a></span>
    <span style="margin-right: 10px;"><a href="#"><span class="fa fa-facebook" style="font-size:32px"></span></a></span>
    <span style="margin-right: 10px;"><a href="#"><span class="fa fa-quora" style="font-size:32px;color:darkred;"></span></a></span>
    <span style="margin-right: 10px;"><a href="#"><span class="fa fa-linkedin" style="font-size:36px"></span></a></span>
    
    </ul>
    </div> 
    </div> 
    <div class="col-lg-2 ms-auto"></div>
    <!-- <div class="col-lg-2 ms-auto">
    <div class="widget">
    <h3>Navagation</h3>
    <ul class="list-unstyled float-left links">
    <li><a href="#">HTML5</a></li>
    <li><a href="#">CSS3</a></li>
    <li><a href="#">jQuery</a></li>
    <li><a href="#">Bootstrap</a></li>
    <li><a href="#">Javascript</a></li>
    </ul>
    </div> 
    </div> 
    <div class="col-lg-2">
    <div class="widget">
    <h3>Services</h3>
    <ul class="list-unstyled float-left links">
    <li><a href="#">Web Design</a></li>
    <li><a href="#">eCommerce</a></li>
    <li><a href="#">WordPress</a></li>
    <li><a href="#">Frontend</a></li>
    </ul>
    </div> 
    </div>  -->
    <div class="col-lg-3">
    <div class="widget">
    <h3>Contact</h3>
    <address>43 Raymouth Rd., Tenali, Andhra Pradesh, India</address>
    <ul class="list-unstyled links mb-4">
    <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
    <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
    <li><a href="mailto:info@mydomain.com">contact@safebank.com</a></li>
    </ul>
    </div> 
    </div> 
    </div> 
    <div class="row mt-5">
    <div class="col-12 text-center">
    Copyright ©<script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a routerLink="/home" rel="nofollow noopener">Safe Bank</a>
    </div>
    </div>
    </div> 
    </div>