
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center" style="margin: 10em 0 8em 0;">
            <h2 class="heading mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                style="color: #ffffff; font-size: x-large;">WELCOME TO YOUR SAFEBANK</h2>
            <h5 style="text-align: center ; color: #2cdb98; font-size: medium;">we value your money</h5>
            <div *ngIf="!isLoggedIn">
                <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a routerLink="/login" class="btn"
                    style="background-color: #2cdb98; color: #ffffff; padding: 10px 40px 10px 40px; margin-top: 3em; border-radius: 5px; font-size: 20px">Login</a></p>
            </div>
        </div>
    </div>
</div>
<div class="section sec-welcome">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                <div class="img-wrap">
                  <img src="../../assets/Screenshot (95).png" alt="Image" class="img-fluid" data-pagespeed-url-hash="171028981"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6 align-self-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="box h-100">
                    <h4>Details at a Single Click</h4>
                    <p class="mb-5" style="font-size: 13px;">The customers can easily check their account details at a single click. 
                        It is very easy to use the SafeBank E-Banking system... </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bottom sec -->
<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between">
            <div id="whyus" class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="excerpt">
                    <h4 style="color: #2cdb98;">Transfer Funds Instantly</h4>
                    <p style="font-size: 17px;">Our bank is best for providing Online Transactions, SafeBank online servers are very faster for transactions. We also provides the global transaction facilities, the customer can transfer from one country to another</p>
                    <p class="mb-4"></p>
                </div>

            </div>
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/tran1.jpg" alt="Image" class="img-fluid" data-pagespeed-url-hash="465528902"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </div>
    </div>
</div>

<div class="section sec-welcome">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right" style="margin-bottom: 3em;">
                <div class="img-wrap">
                  <img src="../../assets/Screenshot (93).png" alt="Image" class="img-fluid" data-pagespeed-url-hash="171028981"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6 align-self-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="box h-100">
                    <h4>Deposit with no Limit
                    </h4>
                    <p class="mb-5" style="font-size: 13px;">SafeBank is one and only bank which provides the facility for the deposits with no limits as per the customer's concern. SafeBank is maintaining highest number of deposit machines... 
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between">
            <div id="whyus" class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="excerpt">
                    <h4 style="color: #2cdb98;">Withdraw Funds When Needed
                    </h4>
                    <p style="font-size: 17px;">SafeBank provides safe and secure online money adding process. We also provides free deposits with '0'Rs charges in different bank ATM's...</p>
                </div>

            </div>
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/Screenshot (92).png" alt="Image" class="img-fluid" data-pagespeed-url-hash="465528902"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </div>
    </div>
</div>

<div class="section sec-welcome">
    <div class="container" style="margin-bottom: 5em;">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                <div class="img-wrap">
                  <img src="../../assets/Screenshot (91).png" alt="Image" class="img-fluid" data-pagespeed-url-hash="171028981"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6 align-self-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" style="margin-top: 4em;">
                <div class="box h-100">
                    <h4>Get Detailed Statement</h4>
                    <p class="mb-5" style="font-size: 13px;">The customers can instantly fetch the statements from SafeBank Portal. SafeBank also provides free statement post services as per the customer resquest...</p>
                </div>
            </div>
        </div>
    </div>
</div>

