<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center" style="margin-top: 10em;">
            <h1 class="heading mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                style="color: #2cdb98;">About Us</h1>
            <p class="w-75 mx-auto mb-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                SafeBank provides best bank services to the customers, by giving loans, credit and debit cards, digital
                financial services, and even personal services.
            </p>
            <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href="#" class="btn"
                    style="background-color: #2cdb98;">Get started</a></p>
        </div>
    </div>
</div>
<div class="section sec-welcome" style="margin-top: 13em;">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                <div class="img-wrap">
                    <img src="../../assets/bank.jpeg" alt="Image" class="img-fluid" data-pagespeed-url-hash="171028981"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6 align-self-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="box h-100">
                    <p class="mb-5">SafeBank is an Indian multinational public sector bank and financial services
                        statutory body headquartered in Tenali, Andhra Pradesh...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bottom sec -->
<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between">
            <div id="whyus" class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <span class="subheading" style="color: #2cdb98;">Why Us !!!</span>
                <h3 class="heading mb-4" style="color: #2cdb98;">Why Are We Awesome?</h3>
                <div class="excerpt">
                    <p>Our bank is best for providing <mark>Global Banking Services</mark>, <span class="highlight">we
                            were very well positioned on the liability franchise and we mainly Focus on
                            <mark>Inclusion</mark></span>, we also explore <mark>Global Banking</mark>. We always work
                        for the customer happiness, growth and development.</p>
                    <p class="mb-4"></p>
                </div>

            </div>
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/emp.png" alt="Image" class="img-fluid" data-pagespeed-url-hash="465528902"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </div>
    </div>
</div>

<div class="section sec-welcome">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right" style="margin-bottom: 3em;">
                <div class="img-wrap">
                    <img src="../../assets/hap_fam.jpg" height="100" width="1600" alt="Image" class="img-fluid"
                        data-pagespeed-url-hash="171028981"
                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="col-lg-6 align-self-end aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="box h-100">
                    <h4>SafeBank Happy Family
                    </h4>
                    <p class="mb-5" style="font-size: 13px;">The customers and the employess treat each other as family.
                        We safeBank step forward 24/7 to help our customers...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center">
                <span class="subheading" style="color: #2cdb98;">Testimonial</span>
                <h3 class="heading mb-4">Happy Clients</h3>
            </div>
        </div>

    </div>
</div>

<div class="container mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
            <div class="card h-100" style="width: 20rem; background-color: #2cdb98;">
                <img src="../../assets/brain.jpg" class="card-img-top" alt="...">
                <div class="card-body" style="margin-bottom: 10px;">
                    <h5 class="card-title" style="color: black">Brain Humphries</h5>
                    <p class="card-text" style="color: #ffffff;">“Company has a great product offering and in-depth
                        intellectual thought leadership.” </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 20rem;">
                <img src="../../assets/elon-musk.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" style="color: #2cdb98;">Elon Musk</h5>
                    <p class="card-text" style="color: black;">“Challenging, rewarding, excellent leadership support.
                        SafeBank is very much secured.”</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 20rem; background-color: #2cdb98;">
                <img src="../../assets/jeff1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">Jeff Bejos</h5>
                    <p class="card-text" style="color: #ffffff;">“Great work-life balance, employee-friendly environment
                        with ethics and moral values.”</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100" style="width: 20rem;">
                <img src="../../assets/sudha_murthy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: #2cdb98;">Sudha Murthy</h5>
                    <p class="card-text" style="color: black">“I really appreciate the SafeBank services. SafeBank
                        handles huge number of customers without any server issues.”</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 20rem; background-color: #2cdb98;">
                <img src="../../assets/dibakar.jpg" class="card-img-top" alt="...">
                <div class="card-body" style="margin-bottom: 10px;">
                    <h5 class="card-title" style="color: black;">Dibakar Sanyal</h5>
                    <p class="card-text" style="color: #ffffff;">“Happy to be a member of SafeBank family. SafeBank
                        provides the best services.”</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 20rem;">
                <img src="../../assets/bill1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title" style="color: #2cdb98;">Bill Gates</h5>
                    <p class="card-text" style="color: black">“Exposure to countless lines of business, ample
                        opportunity to lead initiatives, over the long term.”</p>
                </div>
            </div>
        </div>
    </div>
</div>
